@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Montserrat', sans-serif;
}

/* ########################### NAVIGATION BAR STYLING ####################### */

.container{
    max-width: 1200px;
    width: 90%;
    margin:auto;
}


.nav-bar{
    box-shadow: 0px 5px 10px 0px;
    position:fixed;
    width:88%;
    background:#fff;
    color:#000;
    opacity: 0.85;
    z-index: 999;
}

.nav-bar .nav-items li{
    font-size: 16px;
    list-style: none;
    padding: 8px;
}

.nav-bar h1{
    font-size: 22px;
   margin-left: 220px;
}

.nav-bar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.nav-bar a:hover{
    color: rgb(11, 175, 175);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.nav-items{
    display: flex;
    padding: 30px;
    padding-right: 150px;
}

/* ################################### SHOWCAES STYLING ############################# */

.showcase{
    height: 85vh;
    background: url(./images/img-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 13px;
}

.main-title{
    color: rgba(0, 0, 0, 0.884);
    padding: 10px;
    margin-top: 320px;
}
.showcase p{
    color: rgba(0, 0, 0, 0.884);
    font-size: 15px;
    font-weight: 450;
    margin-top: 5px;
}

.btn{
    display: block;
    padding: 14px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.btn-primary{
    color: #fff;
    background: rgba(255, 0, 0, 0.685);
    }
   
.btn-primary:hover{
    color: black;

}    



/* ################################### SHOWCASE FOOD STYLING ##################### */

.container-food{
    max-width: 1200;
    width: 60%;
    margin: auto;
}

.showcase-food{
    padding: 80px;
}

.showcase-food h1{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}

.food-wrapper{
    display: flex;
}

.food-wrapper .food-item{ 
    width: 50%; 
}

.food-wrapper .food-item img{
    width: 95%;
    height: 100%;
}
/* ########################### ABOUT PAGE STYLING ################################# */

.about{
    font-size: 18px;
    color:#263228;
    padding: 100px;
}

.about .about-us h2{
    border-bottom: 4px solid red;
    padding: 8px;
}

.about-wrapper{
    margin: 20px;
    text-align: center;
}

.about-wrapper li{
    padding: 3px;
}

.about-wrapper .left{
    float: left;
    width: 50%;
    padding: 10px;
}

.about-wrapper .right{
    float: left;
    width: 50%;
    padding: 10px;
}

.about-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.about-wrapper li::before{
    content: "\2713";
    color: red;
    font-weight: bold;
    padding-right: 5px;
}


.count-list .list1{
    float: left;
    width:25%;
    padding: 10px;
    text-align: center;
}
.count-list .list2{
    float: left;
    width:25%;
    padding: 10px;
    text-align: center;
}
.count-list .list3{
    float: left;
    width:25%;
    padding: 10px;
    text-align: center;
}
.count-list .list4{
    float: left;
    width:25%;
    padding: 10px;
    text-align: center;
}

.count-list::after{
    content: "";
    display: block;
    clear: both
}

.count-list span{
    color: rgba(255, 0, 0, 0.685);
    font-weight: 700;
}

.about-box{
    background-color: rgba(238, 8, 8, 0.767);
}

.about-box .about-box1{
    float: left;
    width: 50%;
    padding:15px;
}

.about-box .about-box2{
    /* border: 2px solid red; */
    float: left;
    width: 50%;
    padding:9.5px 0 9.5px 150px;
}

.about-box::after{
    content: "";
    display: block;
    clear: both;
}

.about-box .about-box1 p{
    color: #ddd;
    font-size: 18px;
}

.about-box .about-box2 h1{
    color: #ddd;
    font-weight: 450;
    font-size: 22px;
    border: 2px solid white;
    padding: 10px;
    width: 200px;
    letter-spacing: 3px;
}



/* ############################ CONTACT PAGE STYLING ################################## */

.contact-form{
    padding: 110px;
}
.form-wrapper .company-address{
    float: left;
    padding: 10px;
    width: 48%;
}

.form-wrapper .form{
    float: right;
    padding: 10px;
    width: 48%;
}

.form-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.form-wrapper img{
    height: 250px;
}
.form-wrapper .address-group i{
    color: red;
    padding: 5px;
}

.form-wrapper .address-group h2{
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}

.form-wrapper .address-group p{
    font-size: 16px;
    padding: 5px;
}

/* ##################################### FORM STYLING ################################ */

.form h1{
    border-bottom: 2px solid red;
    font-size: 24px;
}

.form p{
    font-size: 16px;
}

.form-wrapper .form-list label{
    display: block;
    font-size:16px ;
    font-weight: 515;
    padding: 5px ;
    
}

.form-wrapper .form-list input{
    padding: 5px;
    width: 100%;
    padding: 10px;
}

.form-wrapper .button{
    padding: 10px;
}

.form-wrapper .form-list label::after{
    content: "*";
    color: red;
    padding: 3px;
}

/* ################################ PET'S DETAIL ############################ */

.flex-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.pet-img{
    padding: 10px;
}

.flexbox1{
    margin-top: 120px;
    width: 500px;
    height: 500px; 
}

.flexbox1 p{
    margin-top: 15px;
    padding: 20px;
    font-weight: 500;
    border: 2px solid rgba(78, 5, 5, 0.425);
}



 


/* ################################ FOOTER STYLING ##########################*/

.footer{
    background-color: #263228;
    color: white;
    text-align: center;
    margin-top: 0;
}

.socialmedia-links p{
    padding: 10px; 
}
.socialmedia-links i{
    padding: 10px;
    
}






